
/* HEADER */

.header {
    background-color: rgba(235, 235, 235, 0.4);
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 0px;
    position:fixed; 
    right:0;
    left:0;
    height:80px;
    margin:10px;
    z-index: 1000000;
}

.header a {
    padding:15px;
    margin:10px;
}

.header a:hover{
    background-color: rgb(223, 234, 234, 0.8);
    border-radius: 6px;
}

/* FORMATTING */
.row-center {
    align-items: center;
    justify-content: center;
}

/* LINK FORMAT */

a:link{
    color:black;
    text-decoration:none;
}
a:visited{
    color:black;
    text-decoration:none;
}
